* {
    font-family: Arial;
}

.all {
    position: relative;
    width: 100%;
    height: 100%;
}

.left {
    position: fixed;
    float: left;
    width: 20%;
    height: 100vh;
    background-color: rgb(229, 252, 182);
    overflow-y: scroll;
    margin-top: 50px;
    z-index: 1;
}

.perent {
    position: relative;
    width: 100%;
    /* height: 100px; */
    box-sizing: border-box;
    background-color: rgb(0, 0, 0);
    padding: 15px;
    box-sizing: border-box;
    border-bottom: 2px solid rgb(73, 73, 73);
}

.child {
    width: 100%;
    height: 100%;
    /* background-color: yellowgreen; */
    padding-left: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
}

.top {
    margin-left: 8px;
}

.child P {
    margin-bottom: 10px;
}

.child ul li {
    list-style-type: none;
    padding: 10px;

}
.child h3{
    color: #ffffff;
    font-size: 25px;
}
.child a {
    text-decoration: none;
    font-size: 17px;
    color: white;
}

.child i {
    margin-right: 10px;

}

.last li:hover {
    background-color: teal;
}


.head {
    width: 100%;
    height: 50px;
    /* background-color:rgb(165, 138, 193) ; */
    position: fixed;
    float: left;
    z-index: 1;
}

.one {
    width: 20%;
    height: 100%;
    position: relative;
    float: left;
    background-color: rgb(24, 24, 24);
    padding-left: 5px;
    box-sizing: border-box;
}
.one h3{
    font-size: 25px;
    color: #ffffff;
    padding-top: 7px;
    box-sizing: border-box;
}
.one .img {
    position: relative;
    float: left;
    width: 25%;
    height: 100%;
    /* background-color: white; */
    padding: 10px;
    box-sizing: border-box;
}

.img h3 {
    margin-left: 20px;
    margin-top: px;
}

.one .text {
    width: 75%;
    height: 100%;
    position: relative;
    float: left;
    /* background-color: rgb(218, 179, 179); */
}

.text h3 {
    margin-top: 8px;
    font-size: 30px;
}

.text i {
    color: red;
}



.two {
    width: 60%;
    background-color: rgb(0, 0, 0);

}

.search {
    width: 90%;
    height: 100%;
    position: relative;
    float: left;
    text-align: center;
}

input {
    position: relative;
    margin-top: 5px;
    width: 55.5%;
    padding: 18px;
    background-color: #121212;
    border-radius: 20px 0px 0px 20px;
    border: 1px solid gray;
    color: white;
    height: 40px
}

.las {
    width: 80px;
    height: 38px;
    position: absolute;
    float: left;
    background-color: #222222;
    top: 5px;
    right: 96px;
    border-radius: 0px 20px 20px 0px;
    border: 1px solid gray;
}

.las i {
    font-size: 20px;
    padding: 8px;
    color: white;
}

/* .button {
    width: 40px;
    height: 40px;
    position: absolute;
    background-color: rgb(47, 47, 47);
    border-radius: 50%;
    text-align: center;
    right: 47px;
    top: 5px;
} */
.button {
    width: 40px;
    height: 40px;
    position: relative;
    background-color: rgb(47, 47, 47);
    border-radius: 50%;
    text-align: center;
    right: 94px;
    top: 5px;
    float: left
}

.button i {
    font-size: 18px;
    margin-top: 10px;
    color: #ffffff;
}

.three {
    width: 20%;
    background-color: #121212;

}

.cricle {
    position: relative;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
    margin-top: 5px;
    text-align: center;

}

.color {
    position: relative;
    float: right;
    width: 40px;
    height: 40px;
    background-color: gray;
    border-radius: 50%;
    margin-right: 15px;
    margin-top: 5px;
    text-align: center;

}

.cricle:hover {
    background-color: #353535;
}

.cricle i {
    color: #ffffff;
    padding: 12px;
    font-size: 16px
}

.color p {
    color: #ffffff;
    margin-top: 12px;
    font-size: 18px
}

.color a {
    text-decoration: none;
}

/* this is a right continer */
.right {
    position: relative;
    width: 80%;
    float: left;
    height: 100vh;
    overflow-y: scroll;
    background-color: #060606;
    margin-top: 50px;
    margin-left: 20%;
    box-sizing: border-box;
}

.header {
    position: fixed;
    width: 79%;
    height: 50px;
    background-color: rgb(32, 32, 32);
    padding: 6px;
    box-sizing: border-box;
    z-index: 1;
}

.header button {
    padding: 10px;
    border-radius: 12px;
    background-color: #353535;
    border: none;
}
.header button a{
    text-decoration: none;
    color: white;
}

.container {
    width: 100%;
    position: relative;
    float: left;
    margin-top: 50px;
}

.box {
    position: relative;
    float: left;
    width: 25%;
    height: 300px;
    background-color: rgb(18, 18, 18);
    padding: 0px;
    box-sizing: border-box;

}

.box:hover {
    background-color: #353535;
}

.item {
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;

}

.img {
    position: relative;
    float: left;
    width: 100%;
    height: 65%;
    border-radius: 10px;

}

.img img {
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.img .mint {
    position: absolute;
    float: left;
    right: 10px;
    bottom: 5px;
}

.img p {
    padding: 5px;
    box-sizing: border-box;
    background-color: #121212;
    color: #f0e9e9;
    border-radius: 5px;
    font-size: 13px;
}

.detail {
    position: relative;
    float: left;
    width: 100%;
    height: 35%;
    padding-top: 10px;
}

.logo {
    position: relative;
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 50%;

}

.logo img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.heding {
    position: relative;
    float: left;
    width: calc(100% - 50px);
    height: 100%;
    padding: 5px;
    box-sizing: border-box;
}

.heding .last-logo {
    position: absolute;
    float: left;
    top: 5px;
    right: 7px;
}

.last-logo i {
    color: #ffffff;
}

.heding h2 {
    font-size: 15px;
    color: #ffffff;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    padding-right: 20px;
    margin-bottom: 12px;
    box-sizing: border-box;
}

.heding p {
    font-size: 13px;
    box-sizing: border-box;
    color: #c6c6c6;
}

.item a {
    text-decoration: none;
}